@import '../../scss/mixins';

.logout {
  position: fixed;
  top: rem(5px);
  right: rem(10px);
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  &__click {
    cursor: pointer;
    background-color: transparent;
    border: none;
    a{
      display: flex;
      flex-direction: column;
    }
    svg {
      stroke-width: 0.5px;
      fill: var(--mainBlack);
    }
  }
}
