:root{
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBlue: #3897f0;
  --secondBlue: #007bff;
  --thirdBlue: #0062cc;
  --mainGreen: #82d465;
  --secondGreen: #76be5b;
  
  --box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);

  --error-color: #ff0000;
}